<ul class="ul-user-index">
  <li><%= user.name %></li>
  <li><%= user.email %></li>
  <li><%= user.age %></li>
  <li><%= user.activated %></li>
  <li><%= user.born %></li>
  <li><%= link_to 'Edit user', edit_user_path(user) %></li>
</ul>